*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, system-ui
}

nav {
    margin: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-img{
    margin-top: 4px;
    width: 20px;
    height: 20px;
}

#logo-text{
    font-size: 18px;
    font-weight: bold;
    font-family: Noto-Japanese, system-ui;
    color: #21524F;
}

.nav-text{
    font-size: 15px;
}

nav a {
    color: #4f776e;
    text-decoration: none;
    margin: 0 15px;
}

.nav-button{
    text-align: center;
    padding-top: 12px;
    color: white;
    font-size: 15px;
    background-color: #21524F;
    border-radius: 50px;
    height: 50px;
    width: 180px
}