@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, system-ui;
    overflow: clip;
}

body {
    height: 100vh;
    background-color: #f5f5f5;
    cursor: none;
}

.cursor {
    width: 30px;
    height: 30px;
    border: 1px solid #4f776e;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 8px solid #21524F;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s ease-in-out;
    border: 1px solid #21524F;
}

nav {
    margin: 40px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-img {
    margin-top: 4px;
    width: 20px;
    height: 20px;
}

#logo-text {
    font-size: 18px;
    font-weight: bold;
    font-family: Noto-Japanese, system-ui;
    color: #21524F;
}

.nav-text {
    font-size: 15px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #4f776e;
    text-decoration: none;
    margin: 0 15px;
    padding: 0 5px;
}

nav a:hover {
    color: #21524F;
    border-bottom: 2px solid #21524F;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: #21524F;
    border-radius: 50px;
    height: 50px;
    width: 180px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.nav-button:hover {
    color: #21524F;
    background-color: white;
    border: 2px solid #4f776e;
}

#main-body {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-container {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 100px;
}

.img-shape {
    transform: scale(0.75);
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    border-radius: 15px;
    color: #fff;
    flex: 0.12;
    margin: 10px;
    position: relative;
    -webkit-transition: 600ms ease-in-out;
    width: 100px;
}

.panel:hover {
    transform: scale(1.009);
    box-shadow: 8px 8px 15px #d9d9d9, -8px -8px 15px #ffffff;
    cursor: url('Images/arrows/arror.png'), auto;
}

.panel.active {
    flex: 0.4;
}

.panels-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    width: 90vw;
}

#main-body-text {
    font-size: 46px;
    font-weight: bold;
    color: #21524F;
}

#your-text-part {
    color: #88BDAC;
    font-style: italic;
    font-weight: 500;
}

#create-cv {
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 14px;
    background-color: #21524F;
    border-radius: 50px;
    height: 45px;
    width: 220px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

#create-cv:hover {
    color: #21524F;
    background-color: white;
    border: 2px solid #4f776e;
}

.rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 15px;
}

.star {
    height: 20px;
    width: 20px;
}

#text-small {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #21524F;
}

#footer {
    background-color: #21524F;
    height: 80px;
    margin-top: 60px;
}
